#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    /* background-color: red; */
}

.label>div {
    background: #00000088;
    color: white;
    padding: 15px 32px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 30px;
    user-select: none;
}

.label2>div {
    font-size: 0.5em;
    background: #00000088;
    color: yellow;
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 30px;
    user-select: none;
}