* {
    margin: 0;
    padding: 0;
}

.Comment {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.UserInfo {
    border: 1px solid black;
    padding-bottom: 0.5rem;
    text-align: center;
}

.Avatar {
    width: 250px;
    height: 250px;
}

.UserInfo-name {
    font-size: 2rem;
    font-weight: bold;
}

.Comment-text {
    font-size: 1.5rem;
}

.Comment-date {
    font-size: 1rem;
    color: gray;
    margin-top: 1rem;
}